<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@HttpContext.Current.Session["Title"] - Vodafone RELY</title>
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,500,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/VodafoneThemes/css")*@

    <link type="text/css" rel="stylesheet" href="/Content/VodafoneThemes/css/bootstrap-theme.css">
    <link type="text/css" href="/Content/VodafoneThemes/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link type="text/css" href="/Content/VodafoneThemes/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="/Content/VodafoneThemes/css/bootstrap.min.css" rel="stylesheet" />

    <link type="text/css" href="/Content/VodafoneThemes/css/default.css" rel="stylesheet" />
    <link type="text/css" href="/Content/VodafoneThemes/css/font-awesome.min.css" rel="stylesheet" />

    <link type="text/css" rel="stylesheet" href="/Content/VodafoneThemes/css/Black-theme.css">
    <link type="text/css" href="/Content/VodafoneThemes/css/custom.css" rel="stylesheet" />
    <link href="~/Content/styles/style2cc.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link href="~/Content/VodafoneThemes/css/w3.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/script2.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <style>
        #jqxWidget {
            position: relative;
        }

        #OpenClosePanel {
            width: 10px;
            height: 20px;
            background-image: url(/Content/Images/home_slider_rightArrow.png);
        }

        #LeftTreePanel {
            resize: both;
            overflow: auto;
        }

        #mySidebar {
            resize: both;
            overflow: scroll;
            z-index: 999;
        }

        .w3-teal {
            background-color: dimgrey !important;
        }
    </style>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqwidgets")
    @Scripts.Render("~/bundles/jqxgridbundle")

    @*@Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jqxpanel.js" type="text/javascript"></script>

    <script src="~/Scripts/script2.js"></script>
</head>

<body>
    <header class="navbar-fixed-top header-border-color header-background-color">

        <div class="row no_margin">
            <div class="col-xs-6 col-lg-2 col-md-2 col-sm-6 no_padding ">
                @*<div class="vodafone_redbg navbar bg-menu" style="height:30px;"> </div>*@

                @*<div class="vodafone_redbg navbar" style="background-image : url(../Content/VodafoneThemes/images/bg-menu.png);background-position:right;background-size:contain;background-repeat:no-repeat;height:30px;"></div>*@
                <div class="vodafone_redbg navbar" style="background-image : url(@HttpContext.Current.Session["LogoPath"]);background-position:right;background-size:contain;background-repeat:no-repeat;height:30px;"></div>

                @*vodafone_redbg bg_menu class is VodafoneThemes class*@
                @*<nav class="navbar vodafone_redbg">
                        <div class="navbar-header">
                            <a class="navbar-brand hidden-lg hidden-md hidden-sm header-heading" href="#">
                                @if (string.IsNullOrEmpty(HttpContext.Current.Session["Title"] as string) == false)
                                {
                                    <font>  @HttpContext.Current.Session["CompanyName"].ToString() -@HttpContext.Current.Session["Title"].ToString()</font>
                                }

                            </a>
                            <a class="hidden-lg hidden-md hidden-sm pull-right header-icon" href="#">

                            </a>

                            <a class="hidden-lg hidden-md hidden-sm pull-right header-icon" href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a class="hidden-lg hidden-md hidden-sm pull-right header-icon" href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-power-off fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>

                        </div>

                    </nav>*@
            </div>
            <div class="col-xs-6 col-lg-2 col-md-2 col-sm-4 hidden-xs">
                <h1 class="header-heading">
                    @*<font size="4">RELY Germany </font>*@
                    @if (string.IsNullOrEmpty(HttpContext.Current.Session["CurrentRoleName"] as string) == false)
                    {
                        <font size="4">@HttpContext.Current.Session["CompanyName"]   </font>
                    }
                </h1>
            </div>
            <div class="col-xs-6 col-lg-1 col-md-1 col-sm-2  hidden-xs text-right icon_set  ">
                <i class="fa fa-user-o " style="color:#e60000" aria-hiddden="true"></i>
            </div>
            <div class="col-xs-6 col-lg-2 col-md-2 col-sm-2  hidden-xs text-center icon_set ">
                <div id="RoleDropDown" style="background-color:white;color:#e60000;"></div>

            </div>
            <div class="col-xs-6 col-lg-1 col-md-1 col-sm-2  hidden-xs text-left icon_set ">
                @* <a href="#" onclick="FnGo()" class="header-icon">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>*@
            </div>

            @*header-icon class is VodafoneThemes class*@
            <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4  hidden-xs text-right icon_set " style="padding-right:40px;">
                @*Displayed username To redirect to change password on click*@
                @* <a href="@Url.Action("ChangePassword", "ADAccount")" class="header-icon">*@
                @*<a href="#" onClick="OnUserNameClick()" class="header-icon">*@
                <font size="2"> @HttpContext.Current.Session["LoginEmail"]   </font>
                @*</a>*@&ensp;
                <a href="#" onclick="OnSettingsClick()" class="header-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse fa"></i>
                    </span>
                </a>
                <a href="#" title="Home" onclick="OnHomeClick()" class="header-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                @*link for help in top menus*@
                <a href="#" title="Help" id="lnkHelp" class="header-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
                    </span>
                </a>

                @*header-icon class is VodafoneThemes class*@
                <a href="#" title="Logout" onclick="FnLogout()" class="header-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-power-off fa-stack-1x fa-inverse"></i>
                    </span>
                </a>



            </div>
        </div>
        @*<div class="row ">
                <div class="navbar-collapse collapse" style="padding-left:10px;">
                    <div id="MjqxMenu" class="vodafone_redbg navbar ">

                    </div>

                </div>

            </div>*@
        <div class="fluid-container">
            @*//The below line adds jqxmenu control in header*@
            <div id="cssmenu1" class="vodafone_redbg navbar">
                <ul class="abc"></ul>
            </div>
        </div>
        <script>

            $('.navbar-toggle').click(function () {
                $('.navbar-collapse').toggleClass('in');
            });
        </script>
    </header>

    <div id='LeftTreePanel' style="height: 600px; width: 300px;background: white; border:groove; border-color:gray; float: left;color: white;font-size: xx-large;display:none; ">
        <div class="panel-top" style=" padding-top:20px;padding-left:0px; height: 100%;width: 100%">

            <script>
                var UserRole = '';
                var reportgridcount;
                $(document).ready(function () {
                     if('@TempData["ErrorMessage"]')
                    {
                        alert('@TempData["ErrorMessage"]')
                     }
                    $.ajax({
                        url: "/Home/GetMenuItems",
                        dataType: "json",
                        type: "POST",
                        success: function (data) {
                           
                            if (data.length != 0) {
                                var tWidth = (100 / data.length) - 1;

                                for (var x = 0; x < data.length; x++) {
                                    if (data[x]["parentid"] == null) {
                                        $('.abc').append('<li>' + data[x]['text'] + '<ul class="' + data[x]['id'] + '">' + "</ul>" + "</li>");
                                        //data.splice(x,1)
                                        datasetter(data[x]['id']);
                                    }
                                }
                                function datasetter(id) {
                                    //console.log("efgdf")
                                    for (var p = 0; p < data.length; p++) {
                                        if (data[p]['parentid'] == id) {
                                            $('.' + id).append("<li>" + data[p]['text'] + "<ul class='" + data[p]['id'] + "'>" + "</ul>" + "</li>");
                                            //data.splice(p, 1)
                                            datasetter(data[p]['id'])
                                        }
                                        length = $('.' + data[p]['id']).find('li').length;
                                        // console.log(length)
                                        if (length > 0) {
                                            $('.' + data[p]['id']).parent('li').addClass("has-sub");
                                        }
                                    }

                                }

                            }
                        },
                        error: function (reponse) {
                        }
                    });
                });
            </script>
            @*if('@TempData["Message"]')
                {
                alert('@TempData["Message"]')
                }
                //Left panel code removed from here*@
        </div>

    </div>


    <script>
        $("#LeftTreePanel").click(function () {

            var newFontSize = $("#LeftTreePanel").width()
            $("#jqxReports").css("width", newFontSize);
            $("#jqxDocuments").css("width", newFontSize);
            $("#jqxActions").css("width", newFontSize);
        });





        $("#mySidebar").click(function () {

            var newFontSize = $("#mySidebar").width()
            $("#jqxReports").css("width", newFontSize);
            $("#jqxDocuments").css("width", newFontSize);
            $("#jqxActions").css("width", newFontSize);
        });
        //sqap images
        var right = "url(/Content/Images/home_slider_rightArrow.png)";
        var left = "url(/Content/Images/home_slider_leftArrow.png)";

        $('#OpenClosePanel').click(function () {
            var dd = $('#OpenClosePanel').css('background-image');

            if (dd.toLowerCase().indexOf('right') >= 0) {
                $('#OpenClosePanel').css('background-image', 'none');
                $('#OpenClosePanel').css('background-image', 'url(/Content/Images/home_slider_leftArrow.png');
            }
            else {
                $('#OpenClosePanel').css('background-image', 'none');
                $('#OpenClosePanel').css('background-image', 'url(/Content/Images/home_slider_rightArrow.png');
            }


            $("#LeftTreePanel").animate({ width: 'toggle' }, 500);


            //$('#LeftTreePanel').resize(function(){

            //var w = document.getElementById("LeftTreePanel").outerWidth;
            //var h = document.getElementById("LeftTreePanel").outerHeight;
            //var txt = "Window size: width=" + w + ", height=" + h;
            //document.getElementById("jqxReports").innerHTML = txt;
            //});
        });


    </script>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.Hidden("ClientIPAddress")
    }




    <script>

        //function to redirect user to logout function and clear session state of browser
                function FnLogout()
                {
                    sessionStorage.removeItem('CurrentTab')
                    sessionStorage.removeItem('Workflow')
                    document.getElementById('logoutForm').submit()
                 }

                function FnSetMenuSessionAndRedirect(MenuId, MenuUrl)
                {
                    debugger;
                    //setting menuid in session variable through AJAX call.
                    $.ajax({
                        url: "/Home/SetMenuIdInSession",
                        dataType: "json",
                        cache:false,
                        data: { MenuId: MenuId },
                        success: function (data) {
                            if (MenuUrl == '' || MenuUrl == null) {
                                return;
                            }
                            else if (ConfirmEndsWith(MenuUrl,'.pdf')) {
                                window.open(MenuUrl, '_blank'); //open document in diff tab.
                            }
                            else
                                window.location.href = MenuUrl;
                        },
                        error: function (reponse) {
                        }
                    });
                }
                function ConfirmEndsWith(source, target) {
                    return (source.substr(-target.length) === target) ? true : false;
                }

        //function FnGo()//This method is called when user clicks on Go button
        //{
        //    window.location.href = '/Home/ChangeUserRole?UserRole=' + UserRole;
                //}
         function OnUserNameClick() {
             var UserName = '@HttpContext.Current.Session["LoginEmail"]';
             window.location.href = '/Account/ResetPassword?Email=' + UserName + '&ResetPwdMsg=';
           // alert("Functionality no yet developed");
                }

        /*method to get help url on help menu click*/
         $('#lnkHelp').click(function () {

             //$.ajax({
             //    url: "/Home/GetMenuIdFromSession",
             //    type: "Get",
             //    dataType: "json",
             //    success: function (data) {
                        var menuid = '@HttpContext.Current.Session["CurrentMenuId"]';
                        var roleid = '@HttpContext.Current.Session["CurrentRoleId"]';
                         if (menuid == '' || menuid == null) {
                             menuid = -1;
                         }
                         if (roleid == '' || roleid == null) {
                             roleid = -1;
                         }
                         $.ajax({
                             url: "/Account/GetHelpUrl",
                             data: { RoleId: roleid, MenuId: menuid },
                             type: "Get",
                             success: function (data) {
                                 window.open(data, '_blank'); //open document in diff tab.

                                 return false;
                             },
                             error: function (reponse) {
                                 console.log(reponse);
                             }
                         });

             //    },
             //    error: function (reponse) {
             //        console.log(reponse);
             //    }
             //});


         });

        //method used to redirect user to dashboard as per his roles . Will be replaced by a generic method to remove hardcoding of url
        function OnHomeClick()
        {
            window.location.href = '/Home/DecideDashboard'


        }

        function OnSettingsClick() {
            window.location.href = '/Account/UserSettings'
        }

        var UserRole = '';
        $(document).ready(function () {
            UserRole = '@HttpContext.Current.Session["CurrentRoleName"]'
            if (UserRole) {
                //Commenting GetRoleList as of now, need to uncomment it later after getting the data from DB.
                $.ajax({
                    url: "/Home/GetRolesList",
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        $("#RoleDropDown").jqxDropDownList({ source: data, width: 200 })//displayMember:'Name',valueMember:'Id',
                        $("#RoleDropDown").jqxDropDownList('selectItem', UserRole)
                    },
                    error: function (reponse) {
                        //  alert("error : " + reponse);
                    }
                });
            }
            $("#RoleDropDown").on('change', function (event) {
                var item = event.args.item;
                if (item.label) {
                    if (UserRole!=item.label) {
                        UserRole = item.label;
                        sessionStorage.removeItem('CurrentTab')//remove entry for session storage for the currently selected tab
                        sessionStorage.removeItem('Workflow')
                        window.location.href = '/Home/ChangeUserRole?UserRole=' + UserRole;
                    }

                }
            })
             var UserName = '@HttpContext.Current.Session["LoginEmail"]';
           // alert("username" + UserName);
            var WorkFlow = "";
            $.ajax({
                url: "/Home/GetMenuItems",
                dataType: "json",
                type: "POST",
                data: { UserName: UserName, WorkFlow: WorkFlow},
                success: function (data) {


                    var Msource = {
                        dataType: "json",
                        dataFields: [
                             { name: 'id', type: 'string' },
                            { name: 'parentid', type: 'string' },
                             { name: 'text', type: 'string' },
                              { name: 'subMenuWidth', type: 'string' }
                        ],
                        // id: "id",
                        localdata: data
                    };
                    var MdataAdapter = new $.jqx.dataAdapter(Msource)
                    MdataAdapter.dataBind();
                    var Mrecords = MdataAdapter.getRecordsHierarchy('id', 'parentid', 'items', [{ name: 'text', map: 'label' }])
                    //$("#MjqxMenu").jqxMenu({
                    //    source: Mrecords
                    //    , animationShowDelay: 0, animationHideDelay: 0, autoSizeMainItems: false, animationShowDuration: 0,
                    //    animationHideDuration:1000 ,height: 30, keyboardNavigation: true
                    //});
                },
                error: function (reponse) {
                    //  alert("error : " + reponse); width: '100%'
                }
            });
        });
    </script>



    <div class="container-fluid">
        <br>
        <h4 class="text-danger text-capitalize" style="color:#e60000;">@ViewBag.Title</h4>

        @*<br>*@
        <div class="body-content">
            @RenderBody()
        </div>

    </div>
    <footer>

        <div class="col-xs-12 col-md-12 text-right white_txt">
            <div class="col-xs-4 col-md-4 text-right white_txt">
                <p style="text-align:left">RELY Version = @System.Web.HttpContext.Current.Session["KeyValue"]</p>
            </div>
            <div class="col-xs-4 col-md-4 text-right white_txt">
                <p style="text-align:center">@System.Web.HttpContext.Current.Session["PunchLine"]</p>
            </div>
            <div class="col-xs-4 col-md-4 text-right white_txt">
                <p>Powered By Megacube Pty Ltd. </p>
            </div>

        </div>
    </footer>

    @RenderSection("scripts", required: false)

</body>
</html>
