

@using RELY_APP.ViewModel
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>vodafone</title>
    <link rel="icon"
          type="image/png"
          href="/Content/VodafoneThemes/images/1482152183_vodafone.png" />
    <link type="text/css" rel="stylesheet" href="/Content/VodafoneThemes/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,500,600,700,800" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/Content/VodafoneThemes/css/font-awesome.min.css" />
    <link href="/Content/VodafoneThemes/css/LoginPagecustom.css" rel="stylesheet" />
</head>
<body class="boby-login">
    <div id="hero">
        @*<img class="img-responsive logo_big_login" src="/Content/VodafoneThemes/images/logo-login.png" />*@
        <div class="side_login">
            <img class="img-responsive" src="/Content/VodafoneThemesimages/logomobile.png" />
            <div class="col-xs-12">
                <h1>
                    <img class="image-gallery" src="~/Content/Images/vodafone-icon.png" />
                    vodafone RELY
                </h1>
                <p> S15 Revenue Library</p>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl, LastActiveUrl = ViewBag.LastActiveUrl }, FormMethod.Post, new { @class = "login-form" }))

                {
                    @Html.Hidden("ClientIPAddress")
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = " login-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control  " })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "login-label" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = " login-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "login-label" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Log in" class="pull-right login-btn" />
                    </div>
                    <div class="form-group text-left">
                        <a href="#" onclick="FnForgotPassword()"><u>Forgot password ?</u></a>
                    </div>
                    @Html.AntiForgeryToken()
                    @Html.Hidden("UTCOffset")
                }
               
                    <div class="info">
                        <br />
                        @*<h2>About RELY</h2>*@
                        @*<p> It is a complete S15 Revenue Library that hosts </p>*@


                        This system is for the use of authorised users only in accordance with Vodafone security policies and procedures. Individuals using this system without authorisation or in excess of their authority are subject to sanctioning procedures by Vodafone authorities and/or law enforcement officials.
                        <br />

                        Vodafone will not be responsible for any misuse or personal use of any kind, in its information systems, and reserves the right for monitoring systems usage to control abusive situations or security policy violations.
                        
                        @*<ul>
                        <li>Contract review and sign off via automated workflow</li>
        <li>New product set up and approval workflow</li>
        <li>Maintain contract repository Identifying</li>
        <li>Finance Business support at Contract Level</li>
        <li>Catalyst to contract performance</li>
                        </ul>*@
                    </div>
            </div>



        </div>
       @* <footer class="footer_login">
            <div class="row no-margin-zero">
                <div class="first_time footer_item col-sm-4 col-md-4 col-xs-4">
                    <a href="http://intranet.vodafone.com.au/about-you/learning-and-development" target="_blank">
                        <div class="footer_icon">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        <div class="footer_text">
                            <p>First time here? Find out what your login details are.</p>
                        </div>
                    </a>
                </div>
                <div class="youtube footer_item  col-sm-4 col-md-4 col-xs-4">
                    <a href="https://youtu.be/cH0eGv9-pKg" target="_blank">
                        <div class="footer_icon">
                            <i class="fa fa-youtube"></i>
                        </div>
                        <div class="footer_text">
                            <p>Get to know Vodafone RELY. Watch our video guide.</p>
                        </div>
                    </a>
                </div>

                <div class="tech_support footer_item  col-sm-4 col-md-4 col-xs-4">
                    <!--  <a href="https://vodafonelearning.zendesk.com/anonymous_requests/new" target="_blank">
                         <div class="footer_icon">
                             <i class="fa fa-wrench"></i>
                         </div>
                         <div class="footer_text">
                             <p>Need further technical support? Find it here.</p>
                         </div>

                     </a> -->
                    <div class="footer_icon" style="color:#fff;">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <div class="footer_text" style="color:#fff;">
                        <p>Need further technical support? Please contact your IT Help Desk</p>
                    </div>
                </div>

            </div>
        </footer>*@
    </div>
    <!------js------->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        ////method to disable back button of browser after logout for security reasons by shubham -- discarded by VG
        //history.pushState(null, null, document.URL)
        //window.addEventListener('popstate', function () {
        //    history.pushState(null, null, document.URL)
        //})
        if ('@TempData["Message"]') {
            alert('@TempData["Message"]')
        }
         if ('@TempData["Error"]')
        {
            alert('@TempData["Error"]')
        }

    })

         function FnForgotPassword() {
            var Email = document.getElementById('Email').value;
            if (Email == null || Email == "") {
                alert("The Email field is required. Please provide Email");
                return;
            }
            window.location.href = '/Account/ForgotPassword?Email=' + Email;
        }
    </script>

</body>
</html>
